<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="barcode_ui" />
        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="dev.sk2andy.materialbrowser.browser.cast.CastOptionsProvider" />
        <provider
            android:name=".browser.gecko.GeckoPerformanceDiagnosticsProvider"
            tools:node="remove" />
    </application>
</manifest>
